<div style="color:red">Card</div>
<a [routerLink]="['/kanban/addcard', columnEntityId]"  *ngIf="!reserved">Add</a>
<div class="card-container" [dragula]='"card-bag"' [dragulaModel]='cardsForColumn' [attr.itemId]="columnEntityId">
  <div class="kanban-card" *ngFor="let card of cardsForColumn" [attr.itemId]="card.cardId">
    <div>ID: {{ card.cardId }}</div>
    <div>Name: <a [routerLink]="['/kanban/card-detail', card.cardId]">{{ card.cardName }}</a></div>
    <div>Type: {{ card.cardType }}</div>
    <div>Column ID: {{ card.columnEntityId }}</div>
    <div>Board ID: {{ card.boardEntityId }}</div>
    <div>Board Type: {{ card.boardEntityType }}</div>
    <div>Comments: {{ card.comments }}</div>
    <div>In Archive: {{ card.inArchive }}</div>

    <!-- Columns that can be moved to -->
    <!-- <ng-container *ngFor="let column of columnsForCardsToMove">
      <div *ngIf="card.columnEntityId !== column.columnId">
        <button (click)="moveToOtherColumn(card.cardId, card.columnEntityId, column.columnId)">{{ column.columnName }}</button>
      </div>
    </ng-container> -->
  </div>

  <!-- <button (click)="showCards()">show cards</button> -->
</div>
