.column-container {
  display: flex;
  margin: 10px;
}

.kanban-column {
  display: flex;
  background-color: white;
  flex-direction: column;
  border: solid 1px;
  padding: 10px;
  margin: 10px;
  /* flex-grow: 1; */
}

.column-content {
  flex-grow: 1;
  background-color: aqua;
}

.archive-column {
  order: 99;  /* make this column fixed */
  margin-left: auto;
}

.idle-column {
  order: -1;  /* make this column fixed */
}

.parentDraggable {
  background-color: hotpink;
}

.childDraggable {
  background-color: yellow;
  min-height: 100px;
}
