<div style="color:red">Column <button (click)="addColumn()"  style="color:black">Add</button></div>


<div class="column-container parentDraggable" [dragula]='"column-bag"' [attr.itemId]="boardEntityId">

  <!-- Idle column -->
  <!-- Idle and archive columns use their own variables in the component for rendering.  But their inner DIV - column-description and kanban-card, still use the whole columns status to render.  That means their own variables' change actually won't make their displaying contents change.  Using them separately is for the aim to render other columns in a right order. -->
  <ng-container *ngFor="let idleColumn of idleColumns">
    <div class="kanban-column idle-column" [attr.itemId]="idleColumn.columnId" *ngIf="idleColumn.boardEntityId === boardEntityId">
      <div class="column-description">
        <column-detail [columnName]="idleColumn.columnName" [columnId]="idleColumn.columnId"></column-detail>
      </div>

      <!-- Judgement for cardOnly is for displaying, otherwise, the column won't display card area. -->
      <kanban-card class="column-content" [columnEntityId]="idleColumn.columnId" [reserved]="true" *ngIf="idleColumn.cardOnly"></kanban-card>
    </div>
  </ng-container>

  <!-- Go with the order -->
  <ng-container *ngFor="let directColumn of directColumns">
    <ng-container *ngFor="let column of columns">

      <!-- Only render direct columns of current displaying board and -->
      <ng-container *ngIf="(boardEntityId === column.boardEntityId) && (!column.columnEntityId)">

        <!-- Portfolio or project columns -->
        <div class="kanban-column" [ngClass]="{'inter-draggable': column.cardOnly}" *ngIf="column.columnId == directColumn" [attr.itemId]="column.columnId">

          <div class="column-description">
            <column-detail [columnName]="column.columnName" [columnId]="column.columnId"></column-detail>


            <!-- Button groups -->
            <!-- Uninitilized column -->
            <button *ngIf="!column.cardOnly && !column.groupColumn" (click)="simplifyColumn(column.columnId)">Card Only</button>
            <button *ngIf="!column.cardOnly && !column.groupColumn" (click)="complicateColumn(column.columnId)">Column Group</button>

            <!-- Only card column but without any cards yet -->
            <button *ngIf="column.cardOnly && !column.directCards.length" (click)="complicateColumn(column.columnId)">Switch To GC</button>

            <!-- Group column -->
            <button *ngIf="column.groupColumn" (click)="addSubColumn(column.columnId)">New Sub</button>

            <!-- Group column but without any columns yet -->
            <button *ngIf="column.groupColumn && !column.subColumns.length" (click)="simplifyColumn(column.columnId)">Switch To Card</button>


          </div>

          <!-- Simple columns -->
          <kanban-card class="column-content" [columnEntityId]="column.columnId" [reserved]="false" *ngIf="column.cardOnly"></kanban-card>



          <!-- Complex columns -->
          <div class="column-container childDraggable inter-draggable" *ngIf="column.groupColumn"  [dragula]='"column-bag"' [attr.itemId]="column.columnId">

            <!-- Go with the order -->
            <ng-container *ngFor="let sequence of column.subColumns">
              <ng-container *ngFor="let subColumn of subColumns">
                <div class="kanban-column" [ngClass]="{'inter-draggable': subColumn.cardOnly}" *ngIf="(subColumn.columnEntityId === column.columnId) && (subColumn.columnId === sequence)" [attr.itemId]="subColumn.columnId">
                  <div class="column-description">
                    <column-detail [columnName]="subColumn.columnName" [columnId]="subColumn.columnId"></column-detail>
                  </div>
                  <kanban-card class="column-content" [columnEntityId]="subColumn.columnId" [reserved]="false" *ngIf="subColumn.cardOnly"></kanban-card>

                  <!-- Inner move buttons --> 
                  <ng-container *ngFor="let columnToMove of columnsForColumnToMove">
                    <button *ngIf="subColumn.columnEntityId !== columnToMove.columnId" (click)="moveToOtherColumn(subColumn.columnId, subColumn.columnEntityId, columnToMove.columnId)">{{ columnToMove.columnName }}</button>
                  </ng-container>
                  <button (click)="freeColumn(subColumn.columnId, subColumn.columnEntityId)">Free</button>
                  

                  <!-- Inner delete -->
                  <button style="color:red" (click)="deleteColumn(subColumn.columnId, subColumn.directCards.length, subColumn.columnEntityId, true)">Delete</button>
                </div>
              </ng-container>
            </ng-container>


          </div>

          <!-- Outer move buttons -->
          <ng-container *ngIf="column.cardOnly">
            <ng-container *ngFor="let columnToMove of columnsForColumnToMove">
              <button *ngIf="column.columnId !== columnToMove.columnId" (click)="moveToOtherColumn(column.columnId, '', columnToMove.columnId)">{{ columnToMove.columnName }}</button>
            </ng-container>
          </ng-container>

          <!-- Outer delete -->
          <button style="color:red" *ngIf="!column.subColumns.length" (click)="deleteColumn(column.columnId, column.directCards.length, column.columnEntityId, false)">Delete</button>
        </div>
        
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Archive column -->
  <ng-container *ngFor="let archiveColumn of archiveColumns">
    <div class="kanban-column archive-column" [attr.itemId]="archiveColumn.columnId" *ngIf="archiveColumn.boardEntityId === boardEntityId">
      <div class="column-description">
        <column-detail [columnName]="archiveColumn.columnName" [columnId]="archiveColumn.columnId"></column-detail>
      </div>

      <kanban-card class="column-content" [columnEntityId]="archiveColumn.columnId" [reserved]="true" *ngIf="archiveColumn.cardOnly"></kanban-card>
    </div>
  </ng-container>

</div>
